.test {
    width: 500px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    background: gainsboro;
    margin-top: 125px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 50px;
}

.test:hover {
    background: black;
}

.test:active {
    background: grey;
}

.test .test2 {
    margin-top: 20px;
    width: 250px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border: 1px solid black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

.test .read-more {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.test .read-more:hover {
    border: 1px solid white;
    background: black;
    color: white;
}

.test .read-more:before {
    border: 1px solid white;
    content: '';
    top: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

hello-world::shadow span {
    color: blue;
}
