body {
    background-image: url("../img/bg.png");
}

.content, .header {
    max-width: 480px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.header {
    border: 1px solid black;
    background: white;
    padding: 5px;
    margin-top: 40px;
}

.header button {
    margin-left: -1px;
}

.content {
    margin-top: 20px;
    padding: 5px;
    background: white;
    border: 1px solid black;
}

.content article {
    margin-bottom: 20px;
}

.content article .title {
    background: blue;
    width: 100%;
    float: left;
}

.content article .supply {
    background: aqua;
    float: left;
    width: 100%;
}

.content article:last-child {
    margin-bottom: 0;
}
