body {
    background-image: url("../img/bg.png");
    font-family: "Open Sans", sans-serif;
}

.content, .header {
    margin: 0 auto;
}

.clear {
    clear: both;
}

.header {
    background: #ecf0f1;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 1px 4px 0px grey;
    -moz-box-shadow: 0px 1px 4px 0px grey;
    box-shadow: 0px 1px 4px 0px grey;
    padding: 10px;
}

.header .head-content {
    margin: 0 auto;
    max-width: 480px;
}

.header button {
    margin-left: -1px;
    width: 20%;
    float: left;
    padding: 5px;
    text-transform: uppercase;
    color: #333333;
    background: white;
    border: 1px solid #A9A9A9;
}

.header input {
    padding: 4px;
    width: 80%;
    float: left;
}

.content {
    max-width: 480px;
    margin-top: 70px;
}

.content article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #949494;
}

.content article .title {
    background: #3498db;
    width: 100%;
    float: left;
    color: white;
    padding: 9px 9px;
    font-size: 17px;
    text-transform: uppercase;
}

.content article .supply {
    background: #ecf0f1;
    padding: 12px 9px;
    float: left;
    font-size: 16px;
    width: 100%;
    color: #565656;
}

.content article .supply ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.content article .supply ul li {
    list-style-type: none;
    margin-bottom: 4px;
    width: 100%;
}

.content article .supply ul li:before {
    content: '-';
    margin-right: 5px;
}

.content article:last-child {
    margin-bottom: 0;
}
